<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <%= form_with url: welcome_create_path, id: 'message_form' do |f| %>
        <div class="form-group">
          <%= f.text_field 'message[body]', class: 'form-control', required: true %>
	</div>
        <%= f.submit "Добавить сообщение", class: 'btn btn-lg btn-primary btn-block' %>
      <% end %>
    </div>
    <div class="col-sm">
      <div>
	<h4 id="queries">
	  Всего <%= @queries %> <%= t("message", count: @queries) %>
	</h4>
      </div>
      <div id="messages" class="pre-scrollable">
        <% @messages.each do |message| %>
          <div><%= message.body if message.body %>
          <div><%= message.created_at %>
        <% end %>
      </div>
    <div>
  </div>
</div>
